## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [3]:
a=5
print(a)

5

2) Imprimir el tipo de dato de la variable 8.5

In [4]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [5]:
print(type(a))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [6]:
nombre= 'Emiliano'

5) Crear una constante que contenga el número Pi

In [7]:
PI= 3.14

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [8]:
print(type(PI))

<class 'float'>

7) Crear una variable que contenga el valor del número **e** redondeado a 4 decimales

In [9]:
e=2.7183

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [10]:
b= True
c= 'True'

No, no son lo mismo, uno es un valor booleano (b) y el otro es una cadena (c).

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [11]:
print(type(b))
print(type(c))

<class 'bool'>
<class 'str'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [12]:
suma = 5+7.5

11) Realizar una operación de suma de un número definido como string con un entero

In [13]:
n= '11'
suma2 = 7 + int(n)

12) Crear una variable que contenga el valor del punto 7 elevado a la 3

In [14]:
cubo= e**3

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [15]:
m = int(input("Ingrese un numero: "))
multiplicacion= 4*m

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [16]:
cociente= 27/4
print(cociente)

6.75

15) De la división anterior solamente mostrar la parte entera

In [17]:
print(int(cociente))

6

16) De la división de 27 entre 4 mostrar solamente el resto

In [18]:
print(27%4)

3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 15 y 16. Obtener 27 como resultado

In [19]:
resultado = 4 * int(cociente) + 27%4
print(resultado)

27

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [20]:
2=='2'

False

Esto ocurre porque son tipos de datos distintos, uno es entero y el otro es una cadena, por lo que no son iguales.

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [21]:
2==int('2')

True

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

Porque los 'float' separan la parte entera de la decimal con un punto y no con una coma.

21) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [ ]:
#2+'2'
#comentado para que no de error el código

No está permitido porque los datos son de distinto tipo. No, si los operandos fueran del mismo tipo no arrojaría siempre el mismo resultado, si fueran enteros arrojaría 4, y si fueran string devolvería '22'

22) Crear una variable que contenga un menú con los elementos '1 - Pizza', '2 - Empanadas', '3 - Milanesas', '4 - Salir', y luego mostrarlo por pantalla

In [22]:
menu= """
MENÚ
1 - Pizza
2 - Empanadas
3 - Milanesa
4 - Salir
"""
print(menu)

MENÚ
1 - Pizza
2 - Empanadas
3 - Milanesa
4 - Salir

23) Crear una lista que contenga los números del 1 al 10

In [23]:
lista = [1,2,3,4,5,6,7,8,9,10]

24) Imprimir el penultimo elemento de la lista creada en el punto 22

In [24]:
print(lista[8])

9

25) Modificar el tercer elemento de la lista creada en el punto 22 poniendo tu nombre

In [25]:
lista[2] = 'Emiliano'

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [26]:
matriz = [['A','B','C'], ['D','E','F'], ['G','H','I']]

27) Imprimir la matriz creada en el punto 26

In [27]:
print(matriz)

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

28) Modificar la letra E de la matriz y colocar la letra Z

In [28]:
matriz[1][1] = 'Z'
print(matriz)

[['A', 'B', 'C'], ['D', 'Z', 'F'], ['G', 'H', 'I']]

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [29]:
matriz[0][0]=1
matriz[0][1]=2
matriz[0][2]=3

30) Crear una tupla que contenga 5 marcas de ropa

In [30]:
tupla = ('Adidas', 'Nike', 'Topper', 'Puma', 'Fila')

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [31]:
print(tupla[0])

Adidas

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [ ]:
#tupla[1]='Rebook'
#comentado para que no de error

No se puede porque las tuplas no se pueden modificar una vez creada.

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [33]:
diccionario = {"nombre": 'Emiliano', "apellido": 'Jordan', "edad": 20, "hobbies": ['programacion', 'futbol', 'videojuegos']}

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [34]:
print(diccionario["hobbies"])

['programacion', 'futbol', 'videojuegos']

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [35]:
diccionario["edad"]=21
print(diccionario["edad"])

21